<html>
    <head>
        <title>{{ ansible_hostname }}</title>
    </head>
    <body>
        <h1>{{ ansible_hostname }}</h1>
        <p>This is the default web page for {{ ansible_hostname }}.</p>
    </body>
</html>